user <%= node['gitlab']['user']['username'] %> <%= node['gitlab']['user']['username']%>;
worker_processes <%= @worker_processes %>;
error_log /var/log/gitlab/nginx/error.log;

daemon off;

events {
  worker_connections <%= @worker_connections %>;
}

http {
  sendfile <%= @sendfile %>;
  tcp_nopush <%= @tcp_nopush %>;
  tcp_nodelay <%= @tcp_nodelay %>;

  keepalive_timeout <%= @keepalive_timeout %>;

  gzip <%= @gzip %>;
  gzip_http_version <%= @gzip_http_version %>;
  gzip_comp_level <%= @gzip_comp_level %>;
  gzip_proxied <%= @gzip_proxied %>;
  gzip_types <%= @gzip_types.join(' ') %>;

  include /opt/gitlab/embedded/conf/mime.types;

  include <%= @gitlab_http_config %>;
}
